// ion-content.background
// {
//   --background: url(../../../assets/img/bg.jpg) 0 0/100% 100% no-repeat;

//   --overflow: hidden;
// }
// .card-background-page {
//     .ion-card {
//            position: relative;
//            text-align: center;
//        }      
   
//        ion-avatar{
//          float: left;
//          text-align: center;
//          vertical-align: middle;
//          width: 72px;
//          height: 72px;
//          line-height: 72px;
//          background-size: 72px 72px;     
//        }
   
//        .card-desc-cvr{
//           float: left;
//          }
   
//          .card-subtitle{
//            color:#9c9c9c;
//            margin: 0px;
//            font-size: 12px;
//          }
   
//          .card-title{
//            color:#838383;
//            font-size:13px;
//            font-weight:400
//          }
//    }

// ion-img.logout{
//     width: 40px; 
//     height: 40px;
//   }

//   ion-img.logo{
//     width: 15%; 
//     height: 15%;
//     display: inline-block;
//   }



ion-content {
    --background: url(../../../assets/img/bg2.jpg) no-repeat top center/cover fixed #fff;
    position: relative;
    height: 100%;
    width: 100%;
}

ion-toolbar {
    --background: transparent;
}

.card {
    margin: 0 auto;
    
    .header {
        height: 150px;

        .avatar {
            width: 160px;
            height: 160px;
            position: relative;
            margin: 0 auto;

            img {
                display: block;
                border-radius: 50%;
                position: absolute;
                bottom: calc(-1*(80px + 4px));
              //  border: 8px solid #9Dc912;
                background-color: #fff;
            }
        }
    }
}

#map_canvas {
    width: 100%;
    height: 100%;
}
  

.card-body {
    background-color: #ffffff;
    padding: 30px;
    //height: 200px;
    height: calc(100vh - (100px + 56px));
    overflow: hidden;

    .user-meta {
        padding-top: 40px;

        .playername {
            font-size: 24px;
            font-weight: 600;
            color: #303940;
        }

        .country {
            font-size: 90%;
            color: #949ea6;
            text-transform: uppercase;
            margin: 0 auto;
        }
    }
}