<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-img slot="end" src="./assets/img/logo.png" class="logo"></ion-img>
  <ion-title start >Favori</ion-title>
</ion-toolbar>

</ion-header>

<ion-content padding >
  <ion-list>
    <ion-card  *ngFor="let item of lisetAgences2">
       <ion-grid>
         <ion-row>
           <ion-col size="4">
            <div class="item item-input-inset">
              <ion-avatar  item-start>
                <img src="../../../assets/img/banque/{{item.logo}}" style="border-radius:0%;width:60px;height:60px;">
              </ion-avatar>
          </div>
           </ion-col>
       
          <ion-col size="8">
          
            <div class="card-desc-cvr">    
             
              <div class="card-title">
                <p style="font-weight: 200;"><b>>> {{ item.name }}</b></p>
              </div>
              <div text-wrap class="card-subtitle" (click)="showAgence(item)">
                {{ item.nomStructure }} &nbsp;&nbsp;&nbsp;&nbsp;  {{item.ville}}
                &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; <ion-icon style="zoom: 1.5;"  class="large" color="success" name="eye-outline" slot="end" ></ion-icon>      
              </div>
           </div>
          
         
          </ion-col>
        </ion-row>
        
       </ion-grid>
       
   
           
          

    </ion-card>
  </ion-list>
</ion-content>
