ion-content.background
{
  --background: url(../../../assets/img/bg.jpg) 0 0/100% 100% no-repeat;

  --overflow: hidden;
}
ion-img.logout{
    width: 40px; 
    height: 40px;
  }

  ion-img.logo{
    width: 15%; 
    height: 15%;
    display: inline-block;
  }